Flask==3.0.3
flake8==7.0.0
pytest==8.2.1
pytest-cov==5.0.0
isort==5.13.2
safety==3.2.0
Flask-Login==0.6.3
email_validator==2.1.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
bandit==1.7.8
pydantic==2.7.2
